body {
  background-color: #103d52;
  color: white; 
  padding-top: 20px;
}

.App {
  text-align: center;
  
}

.active {
color: #07c92c;
 }

 .btn_del:hover{
  color: red;
 }

form {
  margin: 35px 0 25px 0px; 
  
}

.taskName {
  height: 45px;
  width: 280px;
  border-radius: 6px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.taskNam:focus {
  border-color: blue;
}

.btn_submit{
  height: 45px;
  width: 100px;
  border-radius: 6px;
  background-color: bisque;
  font-size: 18px;
  border: none;
  font-weight: bold;
}

.ui.buttons .button {
  width: 70px;
}

.ui.buttons .or {
  height: 3.571429em;
}

.list_item {
  border: 2px solid grey;
  border-radius: 6px;
  height: 40px;
  padding: 8px 0px 8px 0px;
  width: 480px;
  background-color: white;
  margin: 20px auto;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}

.list_item > button {
  float: right;
  background-color:  white;
  border: none;
  margin-right: 10px;
}

.list_item > button:hover { 
 cursor: pointer;
 }

