body {
  background-color: #103d52;
  color: white; 
  padding-top: 20px;
}

.App {
  text-align: center;  
} 

form {
  margin: 35px 0 25px 0px;   
}

.taskName {
  height: 45px;
  width: 280px;
  border-radius: 6px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.taskName:focus-visible {
  outline-color: cadetblue;
}

.btn_submit{
  height: 45px;
  width: 100px;
  border-radius: 6px;
  background-color: rgb(243, 223, 200);
  font-size: 18px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn_submit:hover {
  background-color: rgb(79, 146, 79);
  color: rgb(243, 223, 200);
  border: 2px solid rgb(243, 223, 200);
}

.ui.buttons .button {
  width: 70px;
}

.ui.buttons .or {
  height: 3.571429em;
}
