.App {
  text-align: center;
}

.list_item {
  border: 2px solid;
  border-radius: 7px;
  height: 20px;
  width: 300px;
  margin: 20px auto;
}

.active {
  background-color: rgb(48, 199, 111);
  color: white;
}
